*{
    font-family: 'Amarante', serif;
}


/*Estilos para el footer*/
.footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */
    padding: 20px; /* Espacio interior en el footer */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para los enlaces del footer */
.footer a {
    color: #FF5733; /* Color de los enlaces en el footer */
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    margin: 0 10px; /* Espacio horizontal entre los enlaces */
}

/* Estilos adicionales según sea necesario */


/* Estilos para el contenedor de la imagen */
.portada {
    display: flex;
    padding: 0%;
    background-color: #6e0101; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */
    padding: 20px; /* Espacio interior en el footer */
    text-align: center; /* Alineación del texto al centro */
        
}
.portada img{
    display: flex;
    height: 40%;
    width: 100%;
    padding: 0%;    
}


.tarjeta {
    
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    margin: 10px;
    overflow: hidden;
    float: center; /* Alinear las tarjetas en línea horizontal*/
    padding: 10px;
}

.tarjeta img {
    width: 280px;
    height: 280px;
    
}


#cuadro-contenido{
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 0;
    height: 100%;
    background-color: #882610cb;
    
}

.contenido {
    padding: 16px;
    background-color: white;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #007bff;
}



h1 {
    text-align: center;
    font-size: 250%
}


form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="radio"] {
    margin-top: 5px;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #581f04;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}


.imagen-destacada img {
    display: flex;
    height: 100%;
    width: 100%;
    
    
    
    
}
.contenedor-productos{

    border-style: double;
    border-color: #000000;
    margin: 0px;
    padding: 0px;
}

.imagen-texto-container {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.imagen-destacada {
    flex: 1;
    margin-right: 40px;
}

.imagen-destacada img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.texto-destacado {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    
}

.texto-destacado h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.texto-destacado p {
    font-size: 1rem;
}

.videos-ofertas{
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 30px;

}

.ubicacion{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Asegura que todo el viewport esté cubierto */
    background-color: #f0f0f0; /* Color de fondo opcional para la pantalla */
}
.formulario {
    border-style: double;
    border-color: #000000;
}
.ubicacion {
    border-style: double;
    border-color: #000000;
}
.productos {
    border-style: double;
    border-color: #000000;
}

/* Estilos específicos para pantallas más pequeñas, como celulares */
@media screen and (max-width: 768px) {
    #cuadro-contenido{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        border-style: double;
        border-color: #000000;
    }
    #tarjetas-a #tarjetas-b #tarjetas-c #tarjetas-d {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #882610cb;
    }
    .imagen-destacada{
        display: flex;
        align-items: center;
        justify-content: center; 
        margin: auto;
        padding: auto;
        height: 100%;
        flex-direction: column;
    }
    .videos-ofertas{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding: 0px;
        height: 1000px;
        width: 100%;
        flex-direction: column;
        
        

    }
    .imagen-texto-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        
    }
  
    

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
     

    .header{
        background-color: #882610cb;
       
    }
    .footer{
        background-color: #0d335c;
    }

    #tarjetas-a{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #882610cb;


    }

    #tarjetas-b{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #882610cb;

    }
    #tarjetas-c{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #882610cb;

    }
    #tarjetas-d{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #882610cb;

    }

    #cuadro-contenido{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        border-style: double;
        border-color: #000000;
        background-color: #882610cb;
        
    }
    .imagen-destacada{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        background-color: #0d335c;
    }
    .videos-ofertas{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:auto;
        padding: 0px;
        height: 1000px;
        width: 100%;
        flex-direction: column;
        
        

    }
    .imagen-texto-container{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 50%;
        flex-direction: column;
        
        
    }
  
    

}

table {

    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
}

th {
    background-color: #ffffff7c;
}

#productos-lista{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 50%;
    flex-direction: column;
    background-color: #ffffff;
    font-size: 180%;


}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #882610cb;
    font-weight: bold;
}

/* Estilo activo */
nav a:active {
    color: blue;
}

/* Estilo para hover */
nav a:hover {
    color: lightblue;
}

/* Media query menu */
@media (max-width: 768px) and (max-width: 1023px) {
    nav {
        text-align: center;
    }

    nav ul {
        display: block;
        margin: 10px 0;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }
}